<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<basicHttpsBinding>
				<binding name="M2MServiceSoap" />
			</basicHttpsBinding>
		</bindings>
		<client>
			<endpoint address="https://admin.uplink.com/webservices/m2mService.asmx"
                binding="basicHttpsBinding" bindingConfiguration="M2MServiceSoap"
                contract="UplinkSoapCommunication.M2MServiceSoap" name="M2MServiceSoap" />
		</client>
	</system.serviceModel>
	<userSettings>
		<UplinkSoap.Properties.Settings>
			<setting name="MySetting1" serializeAs="String">
				<value>config3</value>
			</setting>
		</UplinkSoap.Properties.Settings>
	</userSettings>
</configuration>